html, body {
  height: 100%;
  display: flex;
  
  flex-direction: column;
 
  font-weight: 300;
  
  margin:0;
}

body {
		background-image: url("bg3.png");
		background-repeat: no-repeat;
	background-position: top right;
	 font-family: 'Arial', sans-serif; 
	 background-size: 100% 150%;

	}

.container1{
	width: 80%;
	height: 1%;
	margin: 0 5% 0 10%;
	text-align: center;
	font-size: 2vh;
	background-color: #349000;
	
}
.container1 a{
	color: black;
}
	.header {
	
	margin: 0 5% 2% 10%;
	width: 80%;
	height: 4%;
	text-align: center;
	
}
.header p{
	margin:2% 0 0 0;
	color: #900025;
	font-weight: 600;
  	font-size: 5vh;
  	text-decoration: overline underline;
  
}
img {
    border-radius: 40px;
    
}
	

.aboutMe {

	float: left;
	width: 100%;
	height: 95%;
	
}
.container{
	
	width: 70%;
	height: 100%;
	margin: 0 15% 0 15%;
}

.first {
	
	margin: 20px 0 20px 0;
  max-width: 100vh;
  height: 30%;
  text-align: left;
  
	
}

.first-L {
	float: left;
	width: 40%;
	height: 100%;
    overflow: hidden;
    animation:movepic3 25s;
	position:relative;
	background-size:100% 100%;
	transtion:2s ease;
	transtion-delay:3s;
	border-radius: 40px;
	animation-iteration-count: infinite;
}
@keyframes movepic3 {
0% { background-image:url("IMG_0747.jpg");  }
50%{background-image:url("grad.jpg");}
100%{background-image:url("IMG_0740.jpg");}

}

.first-R {
	float: right;
	width: 60%;
	height: 100%;
}

.UofA {
	margin: 3% 0 1% 4%;
	font-weight: 300;
  font-size: 3vh;
  color: #00492B;
}
.UofA1 {
	margin: 0 0 1% 4%;
	font-weight: 600;
  font-size: 2vh;
  color: #586248
  ;
}
.UofA2 {
	margin: 0 0 1% 4%;
	font-weight: 200;
  font-size: 2vh;
  
  color: #4d4d4d;
}

.second {
		
	 max-width: 100vh;
  height: 30%;
  text-align: left;
  margin: 0 0 20px 0;
}

.second-L {
	float: left;
	width: 40%;
	height: 100%;
    overflow: hidden;
    animation:movepic 25s;
	position:relative;
	background-size:100% 100%;
	transtion:2s ease;
	transtion-delay:3s;
	border-radius: 40px;
	animation-iteration-count: infinite;
}

.second-R {
	float: right;
	
	width: 60%;
	height: 100%;
}

.ThetaTau {
	margin: 3% 0 1% 4%;
	font-weight: 300;
  font-size: 3vh;
  color: #00492B;
}
.ThetaTau1 {
	margin: 0 0 1% 4%;
	font-weight: 600;
  font-size: 2vh;
  color: #586248;
}
.ttabout {
	margin: 0 0 1% 4%;
	font-weight: 200;
  font-size: 2vh;
  
  color: #4d4d4d;
}
@keyframes movepic {
0% { background-image:url("tt1.jpg");  }
50%{background-image:url("IMG_0791.jpg");}
100%{background-image:url("2ndPlace.JPG");}

}

.third {
	
	margin: 0 0 20px 0;
   max-width: 100vh;
  height: 30%;
  text-align: left;
  
	
}

.third-L {
	float: left;
	width: 40%;
	height: 100%;
	overflow: hidden;
    animation:movepic2 25s;
	position:relative;
	background-size:auto 300px;
	
	background-position:center;
	transtion:2s ease;
	transtion-delay:3s;
	border-radius: 40px;
	animation-iteration-count: infinite;
}

.third-R {
	float: right;
	width: 60%;
	height: 100%;
}

.Hackathon {
	margin: 3% 0 1% 4%;
	font-weight: 300;
  font-size: 3vh;
  color: #00492B;
}
.Hackathon1 {
	margin: 0 0 1% 4%;
	font-weight: 600;
  font-size: 2vh;
  color: #586248;
}
.hacksum {
	margin: 0 0 1% 4%;
	font-weight: 200;
  font-size: 2vh;
  
  color: #4d4d4d;
}

@keyframes movepic2 {
0% { background-image:url("hack3.jpg");  }
50%{background-image:url("hack2.jpg");}
100%{background-image:url("hack1.jpg");}

}

