html, body {
  height: 100%;
 


}
body {
  font-family: 'Lato', sans-serif; 
  background-image: url("mainBackground2.png") ;
  background-position: top right;
	background-size: cover;
	background-repeat:   no-repeat;
}

.header {
	background: white;
	opacity: .50;
	height: 100%;
	width: 50%;
	left: 0;
bottom: 0;
position: absolute;
text-align: center;

	

   
}
.greeting {

margin: 50% 0 0 0;
  font-weight: 300;
  font-size: 5vh;
  color: Black;
  
}
.myName {

  font-weight: 500;
  font-size: 7vw;
  color: Black;
  	
}

nav {
	
	font-size: 3.5vh;
}

li {
  margin: 0 0 0 1%;
  display: inline;
}

nav ul {
margin:0;
padding:0;
}

nav a {
  color: black;
}
